.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em auto 0;
    max-width: 800px;
    width: 100%;
    gap: 20px;
}
.Board {
    background-color: #121212;
    width: fit-content;
    padding: 9px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.Controls {
    display: flex;
    justify-content: center;
    gap: 20px 10px;
    flex-wrap: wrap;
    max-width: 400px;
}
.Controls button {
    font-size: 20px;
    padding: 5px 20px;
}
.Slider-Container {
    flex: 0 0 100%;
    color: white;
}
.Slider-Container input {
    width: 100%;
}
h1 {
    color: white;
    text-align: center;
    font-family: Life Savers;
    margin: 0;
}